* {
  overflow-x: hidden;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

a {
  text-decoration: none;
}

.navlink {
  color: rgb(24, 24, 24);
  text-size-adjust: 10px;
  text-transform: capitalize;
  font-size: 20px;
  transition: 1s;
}

.navlink:hover {
  font-size: 35px;
  color: rgb(65, 65, 65);
}



